/**
 * ナビゲーションバー
 */
nav {
  margin-bottom: 2em;

  .nav-wrapper {
    background-color: #f2c479;
    padding: 0 1em;
    user-select:none;
    cursor: pointer;

    .brand-logo {
      color: #444444;
    }
    ul li a{
      color: #444444;
    }
  }
}