@charset "UTF-8";
/**
 * ナビゲーションバー
 */
nav {
  background-color: #f2c479;
  background-color: #f2ba79; }
  nav .nav-wrapper {
    padding: 0 1em;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    cursor: pointer; }
    nav .nav-wrapper .brand-logo {
      width: 100%;
      height: 90%;
      color: #565656;
      left: 50%;
      -webkit-transform: translateX(-50%);
              transform: translateX(-50%);
      background-image: url("../img/logo.png");
      background-size: auto 100%;
      background-repeat: no-repeat;
      background-position: center; }
    nav .nav-wrapper ul li div {
      height: 100%;
      padding: 0 10px;
      background-color: transparent;
      color: #FFFFFF; }
  nav.acount {
    height: 21.391px;
    line-height: 21.391px;
    background-color: #f7d8a7;
    color: #000; }

.col-sm-12.nav {
  margin-bottom: 2em; }

/**
 * メイン
 */
.tex_main {
  padding: 0; }

/**
 * サイドバー
 */
.tex_sidebar {
  position: fixed;
  top: 0px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  display: block;
  padding: 0;
  background-color: #37474f;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }
  @media screen and (max-width: 768px) {
    .tex_sidebar {
      display: none; } }
  .tex_sidebar .logo {
    width: 100%;
    padding: 2em 0px;
    font-size: 1.2em;
    text-align: center;
    color: #EEE;
    background-color: #263238; }
  .tex_sidebar .contents_button div {
    width: 100%;
    padding: 20px 0px;
    margin: 1px 0;
    text-align: center;
    vertical-align: middle;
    color: rgba(255, 255, 255, 0.56);
    background-color: rgba(255, 255, 255, 0); }

/**
 * 管理者用画面
 */
.col-sm-12.admin .card-panel {
  padding-bottom: 60px; }

.col-sm-12.admin .logout {
  position: absolute;
  bottom: 20px;
  right: 20px; }

/**
 * users テンプレート用
 */
.users.form .role {
  padding: 0 0.75rem; }

/**
 * 出品確認ダイアログ
 */
.container_exhibit#exhibit_dialog {
  width: 0%;
  display: block;
  background-color: white;
  vertical-align: middle;
  border-radius: 4px; }

#exhibit_dialog_content {
  position: center; }

b {
  font-weight: 1000 !important; }

.book {
  text-align: center; }

.book-picture {
  height: 120px;
  width: 100px; }

.Yes_button {
  width: 70px;
  box-shadow: 0 1px 0 0 #000000;
  margin-bottom: 5px;
  margin-right: 15px; }

.No_button {
  width: 70px;
  box-shadow: 0 1px 0 0 #000000;
  margin-bottom: 5px;
  margin-left: 15px; }

.question {
  text-align: center;
  color: orangered;
  margin-bottom: 20px;
  margin-top: 20px;
  font-weight: 1000px !important; }

.title-content {
  float: left; }

img.book-picture {
  width: 100px !important;
  margin: 10px auto; }

#exhibit_dialog.fadein {
  -webkit-animation: fadeIn 0.5s ease 0s 1 forwards;
          animation: fadeIn 0.5s ease 0s 1 forwards; }

#exhibit_dialog.fadeout {
  -webkit-animation: fadeOut 1s ease 0s 1 forwards;
          animation: fadeOut 1s ease 0s 1 forwards; }

@-webkit-keyframes fadeIn {
  0% {
    width: 0%;
    opacity: 0; }
  1% {
    width: 80%;
    opacity: 0; }
  100% {
    width: 80%;
    opacity: 1.0; } }

@keyframes fadeIn {
  0% {
    width: 0%;
    opacity: 0; }
  1% {
    width: 80%;
    opacity: 0; }
  100% {
    width: 80%;
    opacity: 1.0; } }

@-webkit-keyframes fadeOut {
  0% {
    width: 80%;
    opacity: 1.0; }
  99% {
    width: 80%;
    opacity: 0; }
  100% {
    width: 0%;
    opacity: 0; } }

@keyframes fadeOut {
  0% {
    width: 80%;
    opacity: 1.0; }
  99% {
    width: 80%;
    opacity: 0; }
  100% {
    width: 0%;
    opacity: 0; } }

/**
 * 出品画面
 */
.container_exhibit {
  width: 85%;
  margin-right: auto;
  margin-left: auto; }
  .container_exhibit input#ISBN {
    box-shadow: 0 1px 0 0 #BDBDBD;
    border-bottom: 1px solid #BDBDBD; }
  .container_exhibit label.label-color {
    color: #ff6f00 !important; }
  .container_exhibit .dropdown-content li > span {
    color: #ff6f00; }
  .container_exhibit .caret {
    border: none; }
  .container_exhibit [type="radio"]:checked + label::after,
  .container_exhibit .with-gap[type="radio"]:checked + label::after {
    background-color: #ff6f00;
    border: 2px solid #ff8f00; }
  .container_exhibit [type="radio"]:checked + label::after,
  .container_exhibit .with-gap[type="radio"]:checked + label::before,
  .container_exhibit .with-gap[type="radio"]:checked + label::after {
    border: 2px solid #ff8f00; }

/**
 * 取り引き完了ダイアログ
 */
#booklist_dialog {
  height: auto;
  width: 400px;
  display: block;
  background-color: white;
  border-radius: 4px;
  top: 50%;
  left: 50%;
  bottom: auto;
  right: 0%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 8px; }
  #booklist_dialog header {
    height: 30px;
    text-align: center; }
  #booklist_dialog .dbody {
    padding: 16px; }
  #booklist_dialog .book {
    text-align: center; }
    #booklist_dialog .book img.book-picture {
      width: 100px !important;
      margin: 10px auto; }
  #booklist_dialog img {
    height: 120px;
    width: 100px; }
  #booklist_dialog table {
    width: 80%;
    margin-left: auto;
    margin-right: auto; }
    #booklist_dialog table tr td:nth-of-type(1) {
      width: 40%;
      text-align: right; }
  #booklist_dialog .No_button, #booklist_dialog .Yes_button {
    width: 70px;
    box-shadow: 0 1px 0 0 #000000;
    margin-bottom: 5px;
    margin-left: 15px; }
  #booklist_dialog .question {
    text-align: center;
    color: orangered;
    margin-bottom: 20px;
    margin-top: 20px;
    font-weight: 1000px !important; }

#booklist_dialog.fadein {
  -webkit-animation: fadeIn 0.5s ease 0s 1 forwards;
          animation: fadeIn 0.5s ease 0s 1 forwards; }

#booklist_dialog.fadeout {
  -webkit-animation: fadeOut 1s ease 0s 1 forwards;
          animation: fadeOut 1s ease 0s 1 forwards; }

@keyframes fadeIn {
  0% {
    width: 0%;
    opacity: 0; }
  1% {
    width: 80%;
    opacity: 0; }
  100% {
    width: 80%;
    opacity: 1.0; } }

@keyframes fadeOut {
  0% {
    width: 80%;
    opacity: 1.0; }
  99% {
    width: 80%;
    opacity: 0; }
  100% {
    width: 0%;
    opacity: 0; } }

.searchfont {
  font-size: 25px;
  font-weight: bold; }

.searchcolor {
  background-color: #81c784; }

.box {
  display: inline; }

.booklist-card-title {
  font-size: 15px;
  font-weight: bold; }

.card-contents {
  padding: 2px; }

.show_booklist_dialog {
  padding: 2px; }

.book {
  width: 25%;
  height: 300px; }

img {
  width: 122px;
  height: 180px; }

.card-title {
  font-size: 15px !important; }

#suggest {
  position: absolute;
  background-color: #FFFFFF;
  border: 1px solid #CCCCFF;
  font-size: 90%;
  width: 200px; }

#suggest div {
  display: block;
  width: 200px;
  overflow: hidden;
  white-space: nowrap; }

#suggest div.select {
  /* キー上下で選択した場合のスタイル */
  color: #FFFFFF;
  background-color: #3366FF; }

#suggest div.over {
  /* マウスオーバ時のスタイル */
  background-color: #99CCFF; }

/* Techange team 2016 */
body {
  margin: 0;
  padding: 0;
  background-color: #fcfcfc;
  font-family: Helvetica , "游ゴシック" , "Yu Gothic" , sans-serif; }

.card-panel {
  position: relative; }
