<!DOCTYPE html>
<html lang="jp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
    <title>出品確認</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
    <link rel="stylesheet" href="css/form_style.css">

</head>
<body>
    <div class="container valign">
        <div class="row">
            <form class="col s12 m4 offset-m4 check-form_01 z-depth-1 hoverable">
                <div class="question">本当に出品しますか？</div>
                <div class="book">
                    <img src="img/kuma.png" class="book-picture">
                </div>
                <div>
                    <p>タイトル：</p>
                    <p>大学名：</p>
                    <p>科目：</p>
                </div>
                <div class="center margin-bottom">
                        <button class="Yes_button waves-effect waves-light blue lighten-1" type="submit">はい
					    </button>
                        <button class="No_button waves-effect waves-light  blue lighten-4" type="submit">いいえ
					    </button>
				</div>
            </form>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
</body>
</html>