.searchfont {
  font-size: 25px;
  font-weight: bold;
}

.searchcolor {
	background-color: #81c784;
}

.box {
	display: inline;
}

.booklist-card-title{
	font-size:15px;
	font-weight:bold;
}

.card-contents{
	padding:2px;
}

.show_booklist_dialog{
	padding:2px;
}