/**
 * 管理者用画面
 */
.col-sm-12 { &.admin{
//================================================

  .card-panel{
    padding-bottom: 60px;
  }
  .logout {
    position: absolute;
    bottom: 20px;
    right: 20px;
  }

//================================================
}}

@import'./exhibit;