/**
 * 出品確認ダイアログ
 */
#exhibit_dialog {
  width: 0%;
  display: block;



}


//======================================================================
// アニメーション
//======================================================================
#exhibit_dialog.fadein {
  animation: fadeIn 0.5s ease 0s 1 forwards;
}
#exhibit_dialog.fadeout {
  animation: fadeOut 1s ease 0s 1 forwards;
}

@keyframes fadeIn {
    0%   {width: 0%;  opacity:   0;}
    1%   {width: 80%; opacity:   0;}
    100% {width: 80%; opacity: 1.0;}
}
@keyframes fadeOut {
    0%   {width: 80%; opacity: 1.0;}
    99%  {width: 80%; opacity:   0;}
    100% {width: 0%;  opacity:   0;}
}
