@import "template/index";
@import "admin/index";
@import "users/index";
@import "exhibit/index";
@import "booklist/index";
@import "books/index";

/* Techange team 2016 */
body {
	margin: 0;
	padding: 0;
	background-color: #fcfcfc;
  font-family: Helvetica , "游ゴシック" , "Yu Gothic" , sans-serif;
}

.card-panel{
  position: relative;
}