@import "template/nav";
@import "template/main";
@import "template/side";

/* Techange team 2016 */
body {
	margin: 0;
	padding: 0;
	background-color: #fcfcfc;
  font-family: Helvetica , "游ゴシック" , "Yu Gothic" , sans-serif;
}