.category_setting {
  
  table {
    .table_id {
      width: 40px;
    }
    .table_submit {
      width: 40px;
      .btn {
        width: 100%;
        height: 100%;
        padding: 0px;
      }
    }
  }
}